#single-info_blurb header .wrapper {
  left:0;
  padding: 1.4em;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  z-index: 100;
}

#single-info_blurb header .article h1 {
  font-size: 3em;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 0.4em;
  /* width: 70%; */
  line-height: 1.5;
}
