 #nav_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -1024px;
  padding: 70px 30px;
  background: black;
  z-index: 100;
  background-color: #5a2017;
  height: 100%;
  width:100%;
  transition: left .5s;
}

#nav_container.show{
  opacity:1;
  left:0;
}

 #navigation {
  flex-direction: column;
    /* background-color: var(--red); */
    align-items: center;
    display:flex;
    /* margin-right: 30px; */
    z-index: 100;
}


.header-nav-area .menu-icon{
  display:block;
  width: 25px;
  height: 25px;
  background: url(https://mars.nasa.gov/assets/ui_sprite@2x.png) 0 0;
  background-size: 300px;
  z-index: 100;
}


.header-nav-area .menu-icon.menu_icon-close {
  width: 25px;
  height: 25px;
  background: url(https://mars.nasa.gov/assets/ui_sprite@2x.png) -25px 0;
  background-size: 300px;
  z-index: 100;
}

#navigation .menu-icon.show {

}

 #navigation ul {
  width: 100%;
}

 #navigation ul li a {
  font-size: 1.5em;
  padding: 10px 10px 10px 0px;
  font-weight: 300;
  font-family: Montserrat;
  display: inline-block;
  text-decoration: none;
  border-color: transparent transparent  #8e0600 transparent;
  border-style: solid;
  width:100%;
}

 #navigation .gradient_line {
  background: linear-gradient(to right, rgba(183,107,95,0), #b76b5f, rgba(183,107,95,0));
  height:1px; 
}

 #nav_container form {
  display: flex;
  margin-top:10px;
}

 #nav_container form.meganav_search {
  position: relative;
}

 #nav_container form.meganav_search .search_submit {
  padding: 0;
  cursor: pointer;
  width: 42px;
  height: 40px;
  background: url(https://mars.nasa.gov/assets/ui_sprite@2x.png) -131px -8px;
  background-size: 300px;
  position: absolute;
  right: 0;
}

 #nav_container form.meganav_search .search_field {
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  position: absolute;
  height: 34px;
}

@media only screen and (min-width: 1024px) {
   #nav_container {
    position:static;
    background: none;
    flex-direction:row;
    justify-content: center;
    padding: 0px;
    min-width:1005;
    flex:2;
    opacity:1;
  }
   #nav_container #navigation {
    flex-direction:row;
  }
   #nav_container #navigation ul {
    display:flex;
    align-items: center;
  }

  #nav_container #navigation ul .logo {
    transition:all .5s;
    width:100px;
  }

  #nav_container #navigation ul li a img.logo.active_scroll{
    /* width:800px; */
    width: 50px;
    transform: scale(1.5);
  }

  .header-nav-area .menu-icon {
     display:none;
   }

   .header-nav-area.active_scroll{
    background: rgba(79, 187, 244, 0.5);
  }



   #navigation ul li a{
    padding:20px;
    font-size: 1em;
    font-family: Montserrat;
    font-weight: 500;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
  }

  #navigation ul li a:hover {
    /* color: #0d75ad; */
    color: #feaa29;
  }

  #navigation ul li a:active{
    /* color: #0d75ad; */
    color: #feaa29;
  }

   #navigation .gradient_line{
    height: 0;
  }

   #nav_container form.meganav_search .search_submit {
    position: static;
  }
}